# Folders
.vscode
reports
slurm
data
obj
bin

# Compiled Object files
*.o
*.gp

# Report files (should be in ./reports, but just in case)
profile.pop*
poplar_profile*
debug.cbor
archive.a

# Executables (should be in ./bin, but just in case)
*main
